#NEXT_PUBLIC_INFURA_PROJECT_ID="xxx"
#NEXT_PUBLIC_MARKET_FEE_ADDRESS="0xxx"
#NEXT_PUBLIC_PUBLISHER_MARKET_ORDER_FEE="1"
#NEXT_PUBLIC_PUBLISHER_MARKET_FIXED_SWAP_FEE="1"
#NEXT_PUBLIC_CONSUME_MARKET_ORDER_FEE="1"
#NEXT_PUBLIC_CONSUME_MARKET_FIXED_SWAP_FEE="1"

#
### ADVANCED SETTINGS
#

# Toggle pricing options presented during price creation
#NEXT_PUBLIC_ALLOW_FIXED_PRICING="true"
#NEXT_PUBLIC_ALLOW_FREE_PRICING="true"

# Privacy Preference Center
#NEXT_PUBLIC_PRIVACY_PREFERENCE_CENTER="true"

# Base URL of the SSI agent capable of OpenID for Verifiable Presentations
NEXT_PUBLIC_OID4VP_AGENT_BASE_URL="https://ssi.future-mobility-alliance.org/agent"

# Presentation Definition hosted by the SSI agent
NEXT_PUBLIC_OID4VP_PRESENTATION_DEF_ID="fma2023"

# Interval in seconds to refresh the QR code
NEXT_PUBLIC_SSI_QR_CODE_EXPIRES_AFTER_SEC="180"

# Form where you can request/get a Credential using OpenID for Verifiable Credential issuance
NEXT_PUBLIC_OID4VCI_ISSSUE_FORM_LINK="https://ssi.future-mobility-alliance.org/demo/issuer"

# Page where compliant wallets are listed and can be downloaded
NEXT_PUBLIC_DOWNLOAD_SSI_WALLET_LINK="https://ssi.future-mobility-alliance.org/demo/issuer/download"
