.wrapper {
  margin-top: calc(var(--spacer) * 2);
}

.container {
  display: flex;
  flex-direction: column;
}

.teaser p {
  margin-bottom: calc(var(--spacer) * 1.5);
}

.secondarySection {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 2);
}

.points {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) / 2);
}

.points span {
  display: flex;
  gap: calc(var(--spacer) / 2);
  justify-content: flex-start;
  align-items: flex-start;
}

.checkmark {
  margin: 0;
  height: var(--spacer);
  width: var(--spacer);
}

.checkmark path {
  stroke: var(--brand-green) !important;
}

.pointText {
  font-weight: var(--font-weight-bold);
}

.pointText p {
  margin-bottom: 0;
}

@media screen and (min-width: 55rem) {
  .wrapper {
    margin-top: calc(var(--spacer) * 3);
  }
  .container {
    flex-direction: row;
    gap: calc(var(--spacer) * 3);
  }
  .teaser {
    width: 60%;
  }
  .secondarySection {
    width: 40%;
  }
}
