.footer {
  min-height: 10rem;
  background-color: var(--footer-background-color);
  color: var(--footer-font-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo,
.content {
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacer);
  padding-left: calc(var(--spacer) / 2);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacer);
}

.content {
  padding: var(--spacer) calc(var(--spacer) / 2);
}

.content a,
.content button {
  color: inherit;
}

.content button,
.link {
  text-transform: none;
  transform: none !important;
  font-weight: var(--font-weight-normal);
}

.content a:hover,
.content a:focus,
.content button:hover,
.content button:focus,
.link:hover,
.link:focus {
  color: var(--footer-font-color);
  text-decoration: underline;
}

.content p {
  display: inline;
}

.links {
  display: grid;
  grid-template-columns: minmax(max-content 1fr);
}

.copyright {
  font-weight: var(--font-weight-bold);
  min-width: fit-content;
}

.legal,
.linkButton {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}

@media screen and (min-width: 25rem) {
  .links {
    grid-template-columns: repeat(2, calc(var(--spacer) * 6));
  }
}

@media screen and (min-width: 60rem) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: var(--spacer);
    margin-right: auto;
    padding: 0;
  }
  .content {
    flex-direction: row;
  }
  .copyright {
    min-width: max-content;
  }
}
