:root {
  /* Portal brand color variables */
  --brand-black: #000046;
  --brand-blue: #000094;
  --brand-cyan: #46daff;
  --brand-purple: #7300f3;
  --brand-violet: #b900ff;

  --brand-blue-light: #316aea;
  --brand-blue-dark: #00205c;
  --brand-blue-darker: #040050;
  --brand-green-light: #87c300;
  --brand-green: #00b96e;
  --brand-green-dark: #108a43;
  --brand-white: #ffffff;

  --brand-grey-white: #f9f9f9;
  --brand-grey: #aeaeae;
  --brand-greyish: #d8d8d8;
  --brand-grey-light: #8b98a9;
  --brand-grey-lighter: #e2e2e2;
  --brand-grey-dimmed: #f7f7f7;

  --brand-gradient: linear-gradient(
    to right bottom,
    var(--brand-cyan),
    var(--brand-blue-light)
  );

  --brand-alert-green: #5fb359;
  --brand-alert-red: #d80606;
  --brand-alert-orange: #b35f36;
  --brand-alert-yellow: #eac146;

  /* Ocean brand color variables */
  --ocean-white: #ffffff;
  --ocean-black: #141414;
  --ocean-pink: #ff4092;
  --ocean-purple: #7b1173;
  --ocean-violet: #e000cf;

  --ocean-grey-darker: #201f1f;
  --ocean-grey-dark: #303030;
  --ocean-grey: #41474e;
  --ocean-grey-light: #8b98a9;
  --ocean-grey-lighter: #e2e2e2;
  --ocean-grey-dimmed: #f7f7f7;

  --ocean-gradient: linear-gradient(to right bottom, #7b1173, #ff4092);
}
