.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: var(--wrapper-height);
  padding-left: 0;
}

.content {
  padding: calc(var(--spacer) / 2);
}

.subtitle {
  display: inline-block;
  padding: calc(var(--spacer) / 8) calc(var(--spacer) / 4) 0;
  background-color: var(--color-primary);
  margin-bottom: 0;
  color: var(--brand-white);
}

.paragraph p {
  margin-bottom: 0;
}

@media screen and (min-width: 40rem) {
  .content {
    padding: var(--spacer);
  }
}
