.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.cardContainer {
  composes: box from '../atoms/Box.module.css';
  width: 100%;
}

@media screen and (min-width: 40rem) {
  .cardWrapper {
    padding: 0 var(--spacer);
  }
}
