.button {
  border: 0;
  cursor: pointer;
  outline: 0;
  margin: 0;
  display: inline-block;
  width: fit-content;
  min-width: 7rem;
  padding: calc(var(--spacer) / 3) var(--spacer);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  border-radius: var(--button-border-radius);
  transition: 0.2s ease-out;
  color: var(--button-font-color);
  background: var(--button-background);
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.1);
  user-select: none;
  text-align: center;
}

.button:hover,
.button:focus {
  text-decoration: none;
  box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.1);
}

.button:active {
  transition: none;
  transform: none;
  box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.1);
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.25;
}

.primary,
.primary:focus,
.primary:active {
  background: var(--button-primary-background);
  border: var(--button-border-size) solid var(--button-primary-border-color);
}

.primary:hover {
  color: var(--button-primary-hover-font-color);
  background: var(--button-primary-hover-background);
  border: var(--button-border-size) solid var(--button-primary-border-color);
}

.ghost,
.ghost:focus,
.ghost:active {
  color: var(--button-ghost-font-color);
  background: var(--button-ghost-background);
  border: var(--button-border-size) solid var(--button-ghost-border-color);
}

.ghost:hover {
  color: var(--button-ghost-hover-font-color);
  background: var(--button-ghost-hover-background);
  border: var(--button-border-size) solid var(--button-ghost-border-color);
}

.outline,
.outline:focus,
.outline:active {
  background: linear-gradient(
    to right,
    var(--button-outline-hover-background) 50%,
    var(--button-outline-background) 50%
  );
  /* 202% used to fix a Firefox specific behavior not moving the background as expected */
  background-size: 202% 100%;
  background-position: bottom right;
  border: var(--button-border-size) solid var(--button-outline-border-color);
  color: var(--button-outline-font-color);
}

.outline:hover {
  background-position: bottom left;
  color: var(--button-outline-hover-font-color);
}

.text,
.text:hover,
.text:focus,
.text:active {
  border: 0;
  border-radius: 0;
  outline: 0;
  padding: 0;
  display: inline-block;
  background: 0;
  color: var(--button-text-font-color);
  box-shadow: none;
  cursor: pointer;
  min-width: auto;
}

/* Size Modifiers */
.small {
  font-size: var(--font-size-small);
  padding: calc(var(--spacer) / 4) calc(var(--spacer) / 2);
}

.text.small {
  padding: 0;
}
