.teaser {
  max-width: 40rem;
  height: 100%;
}

.link {
  composes: box from '@shared/atoms/Box.module.css';
  font-size: var(--font-size-small);
  height: 100%;
  color: var(--teaser-font-color);
  background: var(--teaser-background);
  border-radius: var(--teaser-border-radius);
  border: var(--teaser-border-size) solid var(--teaser-border-color);
  box-shadow: var(--teaser-box-shadow);
  position: relative;
  padding-top: calc(var(--spacer) / 2);
  padding-bottom: calc(var(--spacer) / 2);
  /* for sticking footer to bottom */
  display: flex;
  flex-direction: column;
}

a.link:hover,
a.link:focus {
  box-shadow: var(--teaser-hover-box-shadow);
}

.detailLine {
  margin-bottom: calc(var(--spacer) / 4);
}

.content {
  margin-top: calc(var(--spacer) / 3);
  overflow-wrap: break-word;
  hyphens: auto;
  /* for sticking footer to bottom */
  flex: 1;
}

.content p {
  margin-bottom: calc(var(--spacer) / 3);
}

.title {
  font-size: var(--font-size-large);
  color: var(--teaser-title-font-color);
  margin: 0;
  padding-bottom: calc(var(--spacer) / 6);
  overflow-wrap: break-word;
}

.price {
  margin-top: calc(var(--spacer) / 12);
}

.footer {
  margin-top: calc(var(--spacer) / 24);
}

.typeLabel {
  font-size: var(--font-size-mini);
  display: inline-block;
  border-left: var(--border-size) solid var(--border-color);
  padding-left: calc(var(--spacer) / 4);
  margin-left: calc(var(--spacer) / 4);
}

.typeLabel:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.typeDetails {
  position: absolute;
  top: calc(var(--spacer) / 3);
  right: calc(var(--spacer) / 3);
  width: auto;
  font-size: var(--font-size-mini);
  border-radius: var(--teaser-border-radius);
  padding: 5px;
}

.typeDetails:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.typeDetails.dataset {
  background-color: var(--teaser-dataset-label-background);
  color: var(--teaser-dataset-label-font-color);
}

.typeDetails.dataset * {
  border-color: var(--teaser-dataset-label-font-color);
}

.typeDetails.algo {
  background-color: var(--teaser-algo-label-background);
  color: var(--teaser-algo-label-font-color);
  border-color: var(--teaser-algo-label-font-color);
}

.typeDetails.algo * {
  border-color: var(--teaser-algo-label-font-color);
}
